* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

header{
  height: 10vh;
  width: 100vw;
  background: linear-gradient(to bottom, #003eccb8 0%,#002b8cb8 100%);
  box-shadow: 1px 7px 14px -2px #0003;
  display: flex;
  justify-content:space-between;
  align-items: center;
  color: whitesmoke;
}

header p, header h1{
  margin: 0 2rem;
}

.container-chart {
  height: 80vh;
  width: 40vw;
  display: flex;
}

.container-progress {
  height: 70vh;
  width: 18vw;
  margin: 0 1vw;
  box-shadow: 1px 7px 14px -2px #0003;
  border-radius: 5%;
  color: whitesmoke;
}

.panel-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.swiper{
  margin-top: 5vh;
  height: 80vh;
  width: 90vw;
}

.swiper-wrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 1vw;
}

.container-card {
  max-height: 80vh;
  width: 40vw;
  display: grid;
  grid-template-columns: 20vw 20vw;
}

.card{
  height: 30vh;
  width: 18vw;
  background: linear-gradient(to bottom, #003eccb8 0%,#002b8cb8 100%);
  box-shadow: 1px 7px 14px -2px #0003;
  border-radius: 5%;
  color: whitesmoke;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.3rem;
}

.card-value{
  font-size: 2rem;
  padding: 5vh 2vh;
}